@import url(/styles/apresentacao.css);
@import url(/styles/header.css);
@import url(/styles/carrosel.css ); 
@import url(/styles/flashcard2.css);

:root {
    --cor-principal: #000000;
    --cor-secundaria: #f3ddb0;
    --cor-rosa: #FF6F91;
    --cor-laranja: #ffffff;
    --cor-fundo: #f3deb5;
    --cor-escrita: #020200;
    --cor-botao: #e6c892;
    --cor-preto: #000000;
    --cor-branco: #ffffff;
}