@import url(/styles/apresentacao.css);
@import url(/styles/header.css);
@import url(/styles/carrosel.css ); 
@import url(/styles/flashcard2.css);

:root {
    --cor-principal: #ffffff;
    --cor-secundaria: #ac8b60;
    --cor-rosa: #FF6F91;
    --cor-laranja: #ffffff;
    --cor-fundo: #f8eacf;
    --cor-escrita: #020200;
    --cor-botao: #b97a04;
    --cor-preto: #000000;
    --cor-branco: #ffffff;
}